//forgot password
.force-forget-pass{
    margin: 0 auto;
  text-align: center;
  width: 450px;
    .login-logo{
        img{
            margin-bottom: 1.5rem;
        }
    }
    button{
        margin-bottom: 1rem;
    }
    .mat-card{
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}

