<div class="row force-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <md-card>
      <flash-messages class="flash-message" messagePositioning="top-right"></flash-messages>
      <div class="force-card-content">
        <form [formGroup]="settingsForm">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <md-input-container class="full-wid">
              <input mdInput placeholder="Site Name" [formControl]="settingsForm.controls.sSiteName">
            </md-input-container>
            <small class="force-block" *ngIf="settingsForm.controls.sSiteName.hasError('required') && settingsForm.controls.sSiteName.touched"
              class="mat-text-warn">
              You must include a site name.
            </small>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <md-input-container class="full-wid">
              <input mdInput placeholder="Description" [formControl]="settingsForm.controls.sDescription">
              <!-- <div [froalaEditor]>hello</div> -->
            </md-input-container>
            <small class="force-block" *ngIf="settingsForm.controls.sDescription.hasError('required') && settingsForm.controls.sDescription.touched"
              class="mat-text-warn">
              You must include a Description.
            </small>
          </div>

         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <md-input-container class="full-wid">
              <input mdInput placeholder="Created Date" [mdDatepicker]="picker" [formControl]="settingsForm.controls['dCreatedDate']" (focus)="picker.open()" readonly="readonly">
                 <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                 <md-datepicker #picker></md-datepicker>
            </md-input-container>
            <small class="force-block" *ngIf="settingsForm.controls['dCreatedDate'].hasError('required') && settingsForm.controls['dCreatedDate'].touched"
              class="mat-text-warn">
              You must include a Created Date.
            </small>
          </div>
          
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <md-input-container class="full-wid">
              <input mdInput placeholder="Updated Date" [mdDatepicker]="picker1" [formControl]="settingsForm.controls['dUpdatedDate']" (focus)="picker1.open()" readonly="readonly">
              <md-datepicker-toggle mdSuffix [for]="picker1"></md-datepicker-toggle>
              <md-datepicker #picker1></md-datepicker>
            </md-input-container>
            <small class="force-block" *ngIf="settingsForm.controls['dUpdatedDate'].hasError('required') && settingsForm.controls['dUpdatedDate'].touched"
              class="mat-text-warn">
              You must include a Updated Date.
            </small>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <md-input-container class="full-wid">
              <input mdInput placeholder="Updated By" [formControl]="settingsForm.controls.sUpdatedby">
            </md-input-container>
            <small class="force-block" *ngIf="settingsForm.controls.sUpdatedby.hasError('required') && settingsForm.controls.sUpdatedby.touched"
              class="mat-text-warn">
              You must include a Updated By.
            </small>
          </div>
          <div class="pad-wrap">
            <md-card-actions>
              <button md-raised-button color="primary" type="submit" [disabled]="!settingsForm.valid">Submit</button>
            </md-card-actions>
          </div>

        </form>

      </div>
    </md-card>
  </div>
</div>