<div class="d-flex justify-content-center align-items-center height-full">
    <md-card class="force-login-wrapper align-self-center text-center">
        <div>
            <div>
                <div class="login-logo justify-content">
                    <!-- <img src="{{logo}}" class="mb-4"  alt="user list image"> -->
                    <h5>Please enter your user information</h5>
                    <flash-messages class="flash-message" messagePositioning="top-right"></flash-messages>  
                </div>
            </div>
            <form #form="ngForm" (ngSubmit)="login()">
                <div>
                    <md-input-container class="mggn-b-po full-wid">
                        <input mdInput placeholder="E-Mail" type="text" name="sEmail" required [(ngModel)]="loginData.sEmail" #sEmail="ngModel">
                    </md-input-container>
                    <md-input-container class="mggn-b-po full-wid">
                        <input mdInput placeholder="Password" type="password" name="sPassword" required [(ngModel)]="loginData.sPassword" #sPassword="ngModel">
                    </md-input-container>
                    <div>
                        <div>
                            <md-checkbox class="remember-me" name="bRememberMe" [(ngModel)]="loginData.bRememberMe" #bRememberMe="ngModel">Remember Me</md-checkbox>
                        </div>
                         <div class="mb-3"> <a [routerLink]="['/forgot-password']">Forgot Password?</a></div> 
                    </div>
                    <button class="bg-success mb-3" md-raised-button [disabled]="!form.valid">SIGN IN</button> 
                </div>
            </form> 
        </div>
    </md-card>
  </div>