<md-progress-bar *ngIf="navigation" mode="indeterminate" style="height:3px;"></md-progress-bar> 
<div class="app"  dir="ltr">
    <md-sidenav-container class="force-container">
      <md-sidenav #sidenav mode="side" opened="true" class="sidebar-area">
        <div class="sidebar-panel force-sidenav">
        <div class="sidebar-container">
           <div class="force-user-thumb text-center">
              <!-- <img class="img-responsive " src="{{logo}}"  alt="user list image"> -->
              <!-- <span class="force-user-name force-block">{{sDisplayName | uppercase}}</span> -->
           </div>
           <div class="sidenav-scrollbar-container">
              <md-nav-list menuToggleDirective  class="navigation">
                  <md-list-item menuToggleLink>
                      <a menuToggle class="force-relative" md-ripple [routerLink]="['/admin/dashboard']" routerLinkActive="active-link">
                         <md-icon>explore</md-icon>
                         <span>Dashboard</span>
                      </a>
                    </md-list-item>
                    <md-list-item menuToggleLink routerLinkActive="open">
                        <a menuToggle class="force-relative" md-ripple href="javascript:;" routerLinkActive="active-link">
                           <md-icon>people</md-icon>
                           <span>User</span>
                           <md-icon class="menu-caret">chevron_right</md-icon>
                        </a>
                        <md-nav-list class="sub-menu">
                          <md-list-item routerLinkActive="open">
                            <a [routerLink]="['/admin/user/list']"  routerLinkActive="active-link" class="force-relative" md-ripple>User List</a>
                          </md-list-item>
                      </md-nav-list> 
                      <md-nav-list class="sub-menu">
                        <md-list-item routerLinkActive="open">
                          <a [routerLink]="['/admin/user/add']"  routerLinkActive="active-link" class="force-relative" md-ripple>User Add</a>
                        </md-list-item>
                    </md-nav-list>
        
                    
                </md-list-item>

            <md-list-item menuToggleLink routerLinkActive="open">
                <a menuToggle class="force-relative" md-ripple href="javascript:;" routerLinkActive="active-link">
                   <md-icon>settings</md-icon>
                   <span>General Settings</span>
                   <md-icon class="menu-caret">chevron_right</md-icon>
                </a>
                <md-nav-list class="sub-menu">
                  <md-list-item routerLinkActive="open">
                    <a [routerLink]="['/admin/site-setting']" routerLinkActive="active-link" class="force-relative" md-ripple>Site Settings</a>
                  </md-list-item>
              </md-nav-list>
                <md-nav-list class="sub-menu">
                    <md-list-item routerLinkActive="open">
                      <a [routerLink]="['/admin/change-password']" routerLinkActive="active-link" class="force-relative" md-ripple>Change Password</a>
                    </md-list-item>
                </md-nav-list>

          

        </md-list-item>
                <md-list-item menuToggleLink>
                    <a menuToggle class="force-relative" md-ripple href="javascript:;" (click)="logout()" routerLinkActive="active-link">
                       <md-icon>vpn_key</md-icon>
                       <span>Logout</span>
                    </a>
                </md-list-item>

              </md-nav-list>
           </div>
        </div>
     </div>
     </md-sidenav>
     <div class="row justify-content-between align-items-center force-header-toolbar full-wid">
        <div class="pad-wrap">
          <div class="d-flex justify-content-start align-items-center">
            <div class="force-ham-icon">
               <a (click)="sidenav.toggle()" class="cursor-pointer">
                  <md-icon class="mr-3 mt-1">menu</md-icon>
               </a>
            </div>
            <div class="navbar-brand" href="#">{{header}}</div>
           
            <!-- <ms-breadcrumbs class="force-breadcrumbs"></ms-breadcrumbs> -->
          </div>
        </div>
      </div>
      <div class="force-base-container" #scrollContainer>
        <div class="inner-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </md-sidenav-container>
  </div>