<input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='search' (keyup)='updateFilter($event)' />
<flash-messages messagePositioning="top-right room-table"></flash-messages>
<div>

  <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
    [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [rows]="rows" [columns]="columns"
    [loadingIndicator]="loading"
    (sort)="onSort($event)">
  </ngx-datatable>

  <ng-template #editTmpl let-row="row" let-i="index">
    <label class="switch">
       <input type="checkbox" [checked]='userData[row.$$index].eStatus' (change)='statusChange($event,userData[row.$$index]._id)'>
      <span class="slider round"></span>  
    </label>
  </ng-template>

  <ng-template #hdrTmpl let-row="row" let-value="value" let-i="index">
    <button id="viewBtn" data-id="userData[row.$$index]._id" class="btn btn-warning btn-xs viewbutton" data-toggle="modal"  (click)='detailUser(userData[row.$$index]._id)'>View</button>
    <button id="editBtn" data-id="userData[row.$$index]._id" class="btn btn-info btn-xs editbutton" data-toggle="modal"  (click)='editUser(userData[row.$$index]._id)'>Edit</button>
    <button id="deleteBtn" data-id="userData[row.$$index]._id" class="btn btn-danger btn-xs deletebutton" data-toggle="modal"  (click)='deleteUser(userData[row.$$index]._id,row.$$index)'>Delete</button>
  </ng-template>

</div>

 