.checkbox1 {
    border: 1px solid black;
    height: 10px;
    width: 10px;
    display: inline-block;
    cursor:pointer;
  }
  .check {
    visibility: hidden;
    background: black;
    display: block;
    height: 100%;
  }
  .active {
    visibility: visible;
  }