<h1 md-dialog-title>Confirm</h1>
<div md-dialog-content>{{confirmMessage}}</div>
<div md-dialog-actions>
  <button md-button style="color: #fff;background-color: #153961;" (click)="confirmDialog.close(true)">Yes</button>
  <button md-button (click)="confirmDialog.close(false)">No</button>
</div>
