/* You can add global styles to this file, and also import other style files */


/* for flash messages */
.flash-message {
    position: fixed;
    padding: 0px;
    text-align: center;
    padding: 15px 15px 0px 15px;
    top: 0 !important;
    right: 0;
    margin-top: 10px;
    margin-right: 40px;
    z-index: 9999;
    font-weight: 700;
}
.alert-danger {
    background-color: #da4f49;
    border-color: #da4f49;
    color: #FFF;
    box-shadow: 0px 0px 8px 3px #ccc;
}
.alert-success{
    background-color: #74A55C;
    border-color: #74A55C;
    color: #FFF;
    box-shadow: 0px 0px 8px 3px #ccc;
}

/* for camelcase */
.camelcase{
    text-transform: capitalize;
}

/* for datatable operations */
.viewStyle{
    color: black;
    cursor: pointer
}
.editStyle{
    color: green;
    cursor: pointer
}
.deleteStyle{
    color: #CA2929;
    cursor: pointer
}
a.operations:active {
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
}
a.operations {
    display: inline-block;
}
a.operations i {
    margin-right: 0;
}

/* for status change switch display */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #32CD32;
} 

input:focus + .slider {
box-shadow: 0 0 1px #5c73db;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
label.switch {
margin-bottom: -0.5rem;
}

/* Rounded switch */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
} 

/* dashboard  */

a.dashboard-link {
    text-decoration: none;
}
a.dashboard-route {
    text-decoration: none;
    cursor: pointer;
}
/* site settings */

.logoImg {
    height: 200;
    width: 100;
}

.view_user th{
    padding: 17px 35px;
}

.view_user tr{
    border-bottom: 1px solid #000000;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    /* padding: 4px; */
}
.btn-sm, .btn-group-sm > .btn{
    font-size: 12px;
    width: 75px;
    font-weight: 700;
}
.view-user img{
    height: 110px;
    width: 150px;
    margin: 50px -25px 25px;
    border-radius: 50px;
}
.user-nm span{
    display: block;
    margin-left: 60px;
    color:#000;
}
.view-user label { margin: 20px 15px;}

label.running { background: #0092eb; padding: 3px 10px; margin-bottom: 0px; color: #fff; font-weight: 700;}
label.completed { background: #00c854; padding: 3px 10px; margin-bottom: 0px; color: #fff; font-weight: 700;}
label.paused { background: #d9534f; padding: 3px 10px; margin-bottom: 0px; color: #fff; font-weight: 700;}
label.waiting { background: #f0ad4e; padding: 3px 10px; margin-bottom: 0px; color: #fff; font-weight: 700;}

.ql-editor {
    min-height: 280px !important; 
}

.room-table { border-bottom: none !important; }
.room-table th { background: #5c73db; color: #fff; border: none !important;}
.room-table tr:nth-child(2n+2) { background: #f2f2f2;}
table { padding-top: 10px; margin-bottom: 10px !important;}
body { font-family: 'Poppins',sans-serif !important;}

.dataTables_filter { margin-right: 85px;}
input[type="search"] { border-radius: 5px; padding: 3px 4px; margin-left: 10px !important; border:  1px solid #ccc;}
#DataTables_Table_0_filter label, #DataTables_Table_0_length label { font-size: 16px;}
select { width: 100px; margin: 0px 10px; border: 1px solid #ccc;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{ border-radius: 5px; background: #5c73db !important; border-color: #5c73db !important; color: #ffffff !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover { background: transparent; border: 1px solid #333; border-radius: 5px; color: #333 !important;}
.force-login-wrapper { width: 350px;}
.tbl-b-border { border-bottom: 0px !important;}


.logo{
    font-family: "Poppins", "sans-serif", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif" !important;
    font-size: 1.375rem;
    margin-top: -30px;
}
body .force-user-thumb img {
    width: 180px;
    margin-top: -11px;
    margin-bottom: -8px;
}
.imageTag{
    margin-top: -20px;
    color: white;   
}
.xyz{
    margin-top: -40px;
}

.btn-success {
    color: #fff;
    background-color: #00c854;
    border-color: #00c854;
    float: right;
}
.addbutton { position: absolute; top: 25px; right: 40px; cursor: pointer; display: block; z-index: 100; font-weight: 700;}
.mat-card.login-form { box-shadow: 0px 2px 25px -5px #ccc !important;}
/* .btn { max-width: 60px; width: 100%; cursor: pointer;} */
.btn {
display: inline-block;
font-weight: normal;
line-height: 1.25;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: 0.5rem 1rem;
font-size: 0.875rem;
border-radius: 0.25rem;
transition: all 0.2s ease-in-out;
}
.btn-xs {
    padding: 4px 10px 5px 10px;
    font-size: 13px;
    font-weight: 600;
    margin-right: 5px;
}
.btn-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.room-table th { background: #5c73db; color: #fff; border: none !important;}
.room-table tr:nth-child(2n+2) { background: #f2f2f2;}
table { padding-top: 10px; margin-bottom: 10px !important;}
body { font-family: 'Poppins',sans-serif !important;}

input[type="search"] { border-radius: 5px; padding: 3px 4px; margin-left: 10px !important; border:  1px solid #ccc;}
#DataTables_Table_0_filter label, #DataTables_Table_0_length label { font-size: 16px;}
select { width: 100px; margin: 0px 10px; border: 1px solid #ccc;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{ border-radius: 5px; background: #5c73db !important; border-color: #5c73db !important; color: #ffffff !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover { background: transparent; border: 1px solid #333; border-radius: 5px; color: #333 !important;}
.force-login-wrapper { width: 350px;}
.tbl-b-border { border-bottom: 0px !important;}