<h1 md-dialog-title>{{dialogTitle}}</h1>
<div md-dialog-content *ngIf='dialogDetails !== undefined'>
    <div class="">
        <md-card>
            <div class="row user-profile">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 user-contact-info">
                    <ul>
                        
                        <li>
                            <h4 class="text-primary">{{dialogDetails.sFirstName}} {{dialogDetails.sLastName}}</h4>
                        </li>

                        <li>
                            <div class="contact-list"><i class="fa fa-envelope mat-text-primary" aria-hidden="true"></i> <strong>E-mail</strong></div>
                            <a class="gene-block" href="javascript:;">:  {{dialogDetails.sEmail}}</a>
                        </li>

                        <li>
                            <div class="contact-list"><i class="fa fa-calendar mat-text-primary" aria-hidden="true"></i> <strong>Register Date</strong></div>
                            <a class="gene-block" href="javascript:;">:  {{dialogDetails.dCreatedDate | date}}</a>
                        </li>

                        <li>
                            <div class="contact-list"><i class="fa fa-user mat-text-primary" aria-hidden="true"></i> <strong>User status</strong></div>
                            <a class="gene-block" href="javascript:;">:  {{dialogDetails.eStatus == 'y'? 'Active' : 'Inactive'}}</a>
                        </li>

                    </ul>
                </div>
                <!-- <div class="col-xs-12 col-sm-12 col-md-9 col-lg-4">
                    <div class="mb-3"> <img class="img-responsive  display-ib" src="assets/img/user-pro.jpg" alt="user profile image" width="300" height="300"></div>
                </div> -->
            </div>
           
        </md-card>
    </div>
</div>
<div md-dialog-actions *ngIf='dialogDetails !== undefined'>
  <button md-button (click)="closeDialog()" style="color: #fff;background-color: #153961;"> Close</button>
</div>
